[Unit]
Description=Entrypoint
ConditionPathExists=/entrypoint.sh

[Service]
Type=oneshot
ExecStart=bash -e /entrypoint.sh
StandardInput=tty
StandardOutput=tty
PassEnvironment=IPA_DOMAIN IPA_PASSWORD IPA_SERVICE_HOST

[Install]
WantedBy=multi-user.target
